@font-face {
    font-family: 'Copporate-A-Bold';
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/Corporate-A-Bold.woff2) format('woff2'),
         url(../fonts/Corporate-A-Bold.woff) format('font-woff');
}