@media (max-width: 1366px) {
    .footer {
        &__inner {
            height: 150px;
        }
    }
}

@media (max-width: 1000px) {
    .concept {
        padding-top: 100px;
        margin-bottom: 100px;
        &__inner {
            margin: 0 auto;
        }
    }
    .video {
        margin-top: 100px;
    }
    .design {
        margin-top: 100px;
        &__interier {
            display: block;
        }
        &__interier-img {
            width: 100%;
            margin-bottom: 25px;
        }
        &__cell-three {
            display: none;
        }
        &__box {
            margin: 75px auto;
        }
    }
}

@media (max-width: 768px) {
    .header {
        &__img {
            margin-left: 0;
        }
    }
    .premier {
        &__column + &__column {
            margin-left: 40px;
        }
    }
    .logo-img {
        width: 200px;
    }
}

@media (max-width: 650px) {
    .header {
        &__title {
            font-size: 55px;
        }
        &__title-descr {
            font-size: 20px;
        }
    }
    .social {
        &__item + &__item {
            margin-left: 15px;
        }
        &__link {
            width: 35px;
            height: 35px;
        }
    }
    .premier {
        &__inner {
            display: block;
        }
        &__btn {
            margin-bottom: 25px;
        }
        &__column + &__column {
            margin-left: 0;
        }
    }
    .design {
        &__box {
            display: block;
            max-width: 100%;
        }
        &__box-column {
            width: 100%;
        }
    }
    .footer {
        &__inner {
            height: 100px;
            flex-wrap: wrap;
            align-content: center;
            flex-direction: column;
        }
        &__link {
            margin-top: 15px;
        }
        .social {
            width: 100%;
            justify-content: center;
        }  
    }
}

@media (max-width: 500px) {
    .logo-img {
        width: 150px;
    }
    .header {
        &__title {
            font-size: 38px;
        }
        &__title-descr {
            font-size: 18px;
        }
    }
    .concept {
        padding-top: 50px;
        margin-bottom: 50px;
    }
    .video {
        margin-top: 50px;
    }
    .design {
        margin-top: 50px;
        &__interier {
            margin-bottom: 50px;
        }
        &__box {
            margin: 50px auto;
        }
        &__slider {
            padding-bottom: 25px;
        }
    }
    .slick-track {
        margin-left: 0;
    }
    .footer {
        &__link {
            font-size: 14px;
        }
    }
}

@media (max-width: 390px) {
    .logo-img {
        width: 100px;
    }
    .header {
        &__top {
            height: 90px;
        }
        &__content {
            min-height: calc(100vh - 90px);
        }
        &__title {
            font-size: 30px;
        }
        &__title-descr {
            font-size: 16px;
        }
    }
    .social {
        &__item + &__item {
            margin-left: 5px;
        }
        &__link {
            width: 35px;
            height: 35px;
        }
    }
    .section__title {
        margin-bottom: 15px;
    }
    .design {
        &__interier-img {
            margin-bottom: 15px;
        }
    }
    .footer {
        &__link {
            font-size: 10px;
        }
    }
}
